@import "tailwindcss";

@theme {
  --color-brand-bg: #0a0b0e;
  --color-brand-panel: #14161c;
  --color-brand-accent: #6366f1;
  --color-brand-accent-hover: #4f46e5;
  
  --font-inter: "Inter", sans-serif;
  --font-outfit: "Outfit", sans-serif;
}

@layer base {
  html {
    @apply bg-brand-bg text-white antialiased;
  }
  
  body {
    @apply font-inter m-0;
  }
}

/* Estilos para el Editor (Tiptap) que se perdieron */
.tiptap p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #6b7280;
  pointer-events: none;
  height: 0;
}

.tiptap:focus {
  outline: none;
}
